* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alexandria';
}

:root {
    --background-color: #1f1f1f;
    --content-color: #2b2b2b;
    --primary-color: #fff;
    --hover-color: #cbc100;
}

/* Right Section */

.mapa {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contact Form */
.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2.5px solid #000;
    padding: 20px;
    border-radius: 15px;
}   

.contact-form label {
    font-size: 12px;
    text-transform: uppercase;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 14px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    margin-top: 5px;
    resize: none;
}

.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
    scale: 1.02;
    transition: transform 0.3s;
}

.textheight {
    height: 190px;
}

.contact-form input[type="submit"] {
    width: 140px;
    padding: 15px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 14px;
    border: none;
}  

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}

.input-group {
    display: flex;
    gap: 15px;
}

button[type="submit"] {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
    border-radius: 50px;
    padding: 15px 25px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--hover-color);
    color: #000;
    transform: scale(1.05);
    transition: transform 0.3s;
}

.send-btn {
    display: flex;
    align-items: center;     
    justify-content: center; 
    gap: 8px;               
}

.submit {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.submit p {
    font-size: 10.5px;
    align-self: center;
    font-family: 'Biorhyme', sans-serif;
    font-style: italic;
}

/* Right Info */

.right-info {
    align-items: center;
    flex: 0.2;
    display: flex;
    flex-direction: column;
}

.qr-code {
    width: 125px;
    height: 125px;
    margin: auto;
    
}

.img-qr {
    padding: 5px 7px 2px 7px;
    border-radius: 15px;
    background-color: var(--primary-color);
    margin-bottom: 8px;
}

.img-qr img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.qr-code h4 {
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: #000;
    padding: 3px 4px;
    border-radius: 5px;
}
