* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #222;

}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.footer img {
    width: 55px;
    height: 55px;
}

.footer img:hover {
    filter: brightness(1.2) drop-shadow(0 0 10px var(--primary-color));
    transition: filter 0.3s;
}
.footer p{
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}