* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alexandria';
}

:root {
    --background-color: #1f1f1f;
    --content-color: #222222;
    --primary-color: #fff;
    --hover-color: #cbc100;
}

.header {
    background-color: #2b2b2b;
    padding: 20px;
    color: var(--primary-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    font-size: 12px;
    font-weight: bold;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.logo img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
}

.navbar {
    position: absolute;
    right: 0;
}

.navbar .nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar .nav-item a {
    text-decoration: none;
    color: var(--primary-color);
}

.navbar .nav-item a:hover {
    color: var(--hover-color);
}

.navbar {
    margin-right: 4rem;
}

.nav-link {
    color: var(--primary-color);
}

.nav-link.active {
    color: var(--hover-color) !important;
}

.menu {
    display: flex;
    margin-right: 1.5rem;

    .menu-icon {
        font-size: 28px;
        cursor: pointer;
        display: none;
    }
}

.closed .close {
    font-size: 28px;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    .navbar ul {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 60%;
        background-color: var(--content-color);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        transition: left 0.3s ease;
    }

    .navbar ul.active {
        left: 0;
    }

    .menu .menu-icon {
        display: block;
    }

    .closed .close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

@media (max-width: 480px) {
    .navbar ul {
        width: 100%;
    }
}