* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alexandria', sans-serif;
}

:root {
    --background-color: #1f1f1f;
    --content-color: #222222;
    --primary-color: #fff;
    --hover-color: #cbc100;
}

.header {
    background-color: #2b2b2b;
    padding: 20px;
    color: var(--primary-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo {
    font-size: 12px;
    font-weight: bold;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.logo img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
}

.navbar {
    margin-right: 4rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-item a:hover,
.nav-link.active {
    color: var(--hover-color);
}

.menu {
    display: none;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.closed .close {
    font-size: 28px;
    cursor: pointer;
    display: none;
}

/* Tablet & Mobile */
@media (max-width: 768px) {
    .menu {
        display: block;
    }

    .menu-icon {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 60%;
        background-color: var(--content-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: left 0.3s ease;
        z-index: 9998;
    }

    .navbar.active {
        left: 0;
    }

    .nav-list {
        flex-direction: column;
        gap: 3rem;
    }

    .closed .close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

@media (max-width: 480px) {
    .menu {
        display: block;
    }

    .navbar {
        width: 100%;
    }
}