* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alexandria';
}

hr {
    border: 0;
    height: 2px;
    width: 85%;
    background: var(--primary-color);
    margin: 20px auto 10px;
    display: block;
}

.main-container {
    margin-top: 80px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Main Section */
.container {
    background-color: var(--content-color);
    display: flex;
    justify-content: center;
    width: 100%;
}

.main {
    display: flex;
    gap: 20px;
    width: 100%;
}

.left-section,
.right-section {
    height: 100%;
}

/* Left Section */
.left-section {
    text-align: center;
    padding: 45px 45px 20px;
    max-width: 450px;
    color: var(--primary-color);
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 90%),
        /* gradient sa bottom */
        url('/src/assets/img/bg-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-right: 5px solid #fece35;
    background-attachment: scroll;
}

.profile-pic {
    width: 100%;
    max-width: 325px;
    height: 400px;
    margin-bottom: 26px;
    border-radius: 10px;
    object-fit: cover;
}

.personal-info {
    margin: 0 30px 0;
    padding: 15px 0;
    border-radius: 10px;
    background-color: var(--content-color);
}

.personal-info h2 {
    font-size: 17px;
    margin-bottom: 5px;
}

.personal-info p {
    font-size: 15px;
    color: #fece35;
    text-transform: uppercase;
}

.contact-info {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--content-color);
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 12px 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.info a:hover {
    color: var(--hover-color);
}

.contact-info i {
    font-size: 20px;
}

.info span {
    font-size: 11.5px;
    font-weight: lighter;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.info p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.info a {
    color: white;
    text-decoration: none;
}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links a {
    color: var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
    color: var(--hover-color);
    transform: scale(1.2);
}

.button-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.button-links {
    display: none;
}


/* Right Section */
.right-section {
    padding: 30px 30px 20px;
    color: var(--primary-color);
    background-color: var(--content-color);
    border-radius: 20px;
    width: 100%;
}

.right-section h2 {
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

.right-section h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    background-color: var(--hover-color);
    margin-top: 3px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.right-section .qoute {
    font-style: italic;
    margin-bottom: 15px;
    font-family: 'Biorhyme', sans-serif;
    font-size: 13px;
}

.right-section .description {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 30px;
    text-indent: 30px;
    font-weight: lighter;
}

/* What I Do Boxes */
.right-section h3 {
    font-size: 21px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

.what-i-do-section {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 30px;
}

.what-i-do {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    transition: transform 0.3s ease,
        box-shadow 0.3s ease,
        background-color 0.3s ease,
        color 0.3s ease;

    background-color: var(--background-color);
}

.what-i-do:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
    background-color: var(--hover-color);
    color: var(--background-color);
}

.what-i-do:hover p {
    color: var(--background-color);
}

.info-two {
    margin-left: 15px;
    text-align: left;
}

.info-two p {
    font-size: 11px;
    font-weight: 200;
    margin-top: 8px;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: 1.1px;
    text-indent: 15px;
    color: #909090;
}

.info-two span {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.right-section h4 {
    font-size: 21px;
    letter-spacing: 1.5px;
}

/* Highlights Section */
.highlights {
    margin-bottom: 30px;
}

.highlight-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 13px;

    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.4),
        0 6px 12px rgba(0, 0, 0, 0.2);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--background-color);
}

.highlight-item:hover {
    transform: scale(1.03);
    box-shadow:
        0 6px 12px rgba(0, 0, 0, 0.6),
        0 8px 16px rgba(0, 0, 0, 0.4);
}

.icon-highlight {
    display: flex;
    align-items: flex-start;
    font-size: 30px;
    margin-left: 10px;
    gap: 25px;
}

.icon-highlight p {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.icon-highlight li {
    font-size: 11px;
    margin-top: 5px;
    text-indent: 15px;
    list-style: circle inside;
    color: #909090;
}

.logos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logos img {
    height: 35px;
    width: auto;
}

/* Languages Section */
.languages-section {
    display: flex;
    margin-bottom: 20px;
    gap: 30px;
    flex-wrap: wrap;
}

.language {
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 18px 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--background-color);
}

.language:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.language h1 {
    font-size: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.text-margin h4 {
    margin-bottom: 20px;
}

/* Mobile & Tablet */
@media (max-width: 768px) {

    .main {
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        margin: 0;
    }

    .left-section {
        margin: 20px;
        max-width: 100%;
    }

    .what-i-do-section {
        display: flex;
    }
}

/* Mobile (Small Screens) */
@media (max-width: 480px) {

    .main {
        gap: 15px;
    }

    .main-container {
        padding-top: 60px;
        animation: fadeUp .8s ease;
    }

    .left-section {
        padding: 25px 20px;
        border-right: none;
        border-bottom: 5px solid #fece35;
        background-attachment: scroll;
        animation: fadeUp .9s ease;
    }

    .profile-pic {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
        animation: fadeUp 1s ease;
    }

    .personal-info,
    .contact-info {
        margin: 10px 0;
        animation: fadeUp 1.1s ease;
    }

    .button-links {
        display: flex;
        justify-content: space-around;
    }

    .btn-links {
        text-decoration: none;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 10px 12px;
        border-radius: 10px;
        font-size: 15px;
        background-color: var(--background-color);
    }

    .btn-links:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }

    .right-section {
        padding: 20px 15px;
        animation: fadeUp 1.2s ease;
    }

    .right-section h2 {
        font-size: 24px;
        text-align: center;
    }

    .right-section h2::after {
        content: '';
        display: block;
        width: 50px;
        height: 5px;
        background-color: var(--hover-color);
        margin: 3px auto 20px;
        border-radius: 4px;
    }

    .right-section .description {
        font-size: 13px;
        text-indent: 30px;
    }

    .qoute {
        text-align: center;
    }

    /* What I Do */
    .what-i-do-section {
        flex-direction: column;
        gap: 15px;
        animation: fadeUp 1.3s ease;
    }

    .what-i-do {
        flex-direction: column;
        text-align: center;
    }

    .what-i-do:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, .6);
        background-color: var(--hover-color);
        color: var(--background-color);
    }

    /* Info */
    .info-two {
        margin-left: 0;
        text-align: center;
        animation: fadeUp 1.4s ease;
    }

    .info-two p {
        font-size: 10.5px;
        text-indent: 0;
    }

    /* Highlights */
    .highlight-item,
    .icon-highlight {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        margin-left: 0;
        animation: fadeUp 1.5s ease;
    }

    .icon-highlight {
        gap: 10px;
    }

    .icon-highlight li {
        list-style: none;
    }

    /* Languages */
    .languages-section {
        display: flex;
        justify-content: center;
        gap: 15px;
        animation: fadeUp 1.6s ease;
    }

    .language {
        text-align: center;
    }

    /* Footer / Socials */
    .social-links {
        margin: 0;
        animation: fadeUp 1.7s ease;
    }

    .logos {
        margin-bottom: 10px;
    }

    .right-section h4 {
        font-size: 16px;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}