* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Project Container */
.proj-cont {
    margin-bottom: 20px;
    display: flex;
    gap: 25px;
}

/* Cards Grid */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* No Project Text */
.no-proj {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    grid-column: 1 / -1;
    margin-top: 100px;
}

/* Card Style */
.cardstyle {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Card Hover */
.cardstyle:hover {
    box-shadow: 0 4px 24px var(--hover-color);
    transform: translateY(-5px);
    animation: pulse 0.6s;
}

/* Card Image */
.cardstyle img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

/* Card Description */
.cardstyle p {
    font-weight: 300;
    font-size: 14px;
}

/* Overlay Section */
.overlay {
    margin-top: 10px;
    display: flex;
    font-size: 17.5px;
    justify-content: space-between;
    align-items: center;
}

.overlay h5 {
    margin: 10px 0;
    letter-spacing: 1px;
}

.overlay p {
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--hover-color);
    padding: 5px 8px;
    color: #000;
    border-radius: 10px;
    letter-spacing: 0.5px;
}

/* Modal Background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Box */
.modal-content {
    background: var(--background-color);
    padding: 25px;
    border-radius: 10px;
    width: 650px;
    max-width: 90%;
    color: white;
    position: relative;
}

.modal-content h3 {
    color: var(--hover-color);
}

.modal-img {
    width: 100%;
    height: 291px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.modal-desc {
    margin: 10px 0 40px 0;
    font-size: 14px;
    line-height: 1.6;
}

/* footer layout */
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* github + live */
.modal-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #cbc100;
    font-weight: 500;
}

/* tech stack */
.modal-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.tech-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.modal-links {
    display: flex;
    gap: 3px;
    align-items: center;
}

.link-icon {
    width: 27px;
    height: 27px;
    object-fit: contain;
}

/* Pulse Animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

/* Tablet & Mobile */
@media (max-width: 768px) {

    .project-page .projects-left {
        display: none;
    }

    .project-page .main {
        flex-direction: column;
    }

    .project-page .right-section {
        width: 100%;
        min-height: 100vh;
    }

    .proj-cont {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
    }

    .overlay {
        flex-direction: column;
        gap: 2px;
        align-items: flex-start;
    }

    .overlay h5 {
        margin: 3px 0;
        font-size: 13px;
    }


    .cardstyle {
        background-color: var(--background-color);
    }

    .cardstyle p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .cardstyle img {
        height: 150px;
    }

    .overlay p {
        font-size: 6px;
    }

    .tech-icon {
        width: 23px;
        height: 23px;
        object-fit: contain;
    }

    .modal-tech {
        display: flex;
        flex-wrap: wrap;
        gap: 11px;
    }

    .modal-links {
        display: flex;
        gap: 3px;
        align-items: center;
    }

    .link-icon {
        width: 25px;
        height: 25px;
        object-fit: contain;
    }

    .modal-desc {
        margin: 10px 0 40px 0;
        font-size: 12.5px;
        line-height: 1.6;
    }

    .modal-img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 15px;
    }

}