* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.proj-cont {
    margin-bottom: 20px;
    display: flex;
    gap: 25px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.no-proj{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    grid-column: 1 / -1;
    margin-top: 100px;
}

.cardstyle {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardstyle:hover {
    box-shadow: 0 6px 12px rgb(171, 166, 4);
    transition: box-shadow 0.3s;
    animation: pulse 0.6s;
}

.cardstyle img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.cardstyle p {
    font-weight: lighter;
    font-size: 14px;
}

.overlay {
    margin-top: 10px;
    display: flex;
    font-size: 17.5px;
    justify-content: space-between;
    align-items: center;
}

.overlay h5 {
    margin: 10px 0 10px 0;
    letter-spacing: 1px;
}

.overlay p {
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--hover-color);
    padding: 5px;
    color: #000;
    border-radius: 10px;
    letter-spacing: 0.5px;
}

/* Tablet & Mobile */
@media (max-width: 768px) {
    .proj-cont {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

        .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
    }

    .overlay h5{
        font-size: 16px;
    }


    .cardstyle {
        background-color: var(--background-color);
    }

    .cardstyle p {
        font-size: 12px;
    }

    
    .overlay p {
        font-size: 7px;
    }
    
}