* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section Titles */
.right-section h3 {
    font-size: 19px;
    margin: 30px 0 25px 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--hover-color);
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section hr {
    flex: 1;
    border: none;
    height: 1.5px;
    background-color: var(--hover-color);
    margin-left: 15px;
}

/* Resume Sections */
.education,
.experience,
.organization,
.eligibility {
    margin-bottom: 15px;
    padding-left: 10px;
}

.education p,
.experience p,
.organization p,
.eligibility p {
    font-size: 15px;
    font-weight: 300;
    text-indent: 23px;
    color: #909090;
    letter-spacing: 1px;
}

/* Headers */
.edu-header,
.ex-header,
.org-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Titles */
.edu-title,
.ex-title,
.org-title {
    display: flex;
    gap: 10px;
}

.edu-title h4,
.ex-title h4,
.org-title h4 {
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 1.2px;
}

/* Date / Span */
.edu-header span,
.ex-header span,
.org-header span {
    font-size: 15px;
    font-weight: 300;
    color: #999;
}

/* Honors Section */
.honors {
    display: flex;
    gap: 5px;
    margin-left: 23px;
    margin-top: 8px;
}

.honors h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
}

/* Details */
.details {
    margin-top: 8px;
    font-size: 14px;
    text-indent: 5px;
    line-height: 1.4;
}

.details ul {
    list-style: disc;
    margin-left: 30px;
    padding-right: 20px;
    text-align: justify;
}

.details ul li {
    margin-bottom: 3px;
    font-weight: 300;
}

/* Work Position */
.position {
    margin-left: 29px;
    margin-top: 8px;
    display: flex;
}

.position h4 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Misc */
.spanie {
    font-weight: 300;
}


@media (max-width: 768px) {

    .resume-page .resume-left {
        display: none;
    }

    .resume-page .main {
        flex-direction: column;
    }

    .resume-page .right-section {
        width: 100%;
    }

    /* Section Title */
    .right-section h3 {
        font-size: 16px;
    }

    /* Headers */
    .edu-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .edu-header>span,
    .ex-header>span,
    .org-header>span {
        font-size: 12px;
        font-weight: 400;
        color: #999;
        margin-left: 25px;
        margin-bottom: 7px;
    }

    /* Headings */
    .edu-title h4,
    .ex-title h4,
    .org-title h4,
    .honors h4 {
        font-size: 12px;
    }

    .position h4 {
        font-size: 11.5px;
    }

    .edu-title h4 .spannie {
        font-size: 11px;
        color: #ffffff;
    }

    /* Paragraphs & Lists */
    .education p {
        font-size: 11px;
        color: white;
    }

    .details ul li,
    .experience p,
    .eligibility p,
    .organization p {
        font-size: 11.5px;
    }
}