* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section Titles */
.right-section h3 {
    font-size: 19px;
    margin: 30px 0 25px 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--hover-color);
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section hr {
    flex: 1;
    border: none;
    height: 1.5px;
    background-color: var(--hover-color);
    margin-left: 15px;
}

/* Resume Sections */
.education,
.experience,
.organization,
.eligibility {
    margin-bottom: 10px;
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 8px;
}

.education p,
.experience p,
.organization p,
.eligibility p {
    font-size: 13px;
    font-weight: 300;
    text-indent: 28px;
    color: #909090;
    letter-spacing: 1px;
}

/* Headers */
.edu-header,
.ex-header,
.org-header,
.eligibility-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Titles */
.edu-title,
.ex-title,
.org-title {
    display: flex;
    gap: 10px;
}

.edu-title h4,
.ex-title h4,
.org-title h4 {
    font-size: 19px;
    margin-bottom: 5px;
    letter-spacing: 1.2px;
}

/* Date / Span */
.edu-header span,
.ex-header span,
.org-header span,
.eligibility-header span {
    font-size: 13px;
    font-weight: 500;
    color: var(--content-color);
    padding: 3px 8px;
    background-color: var(--hover-color);
    border-radius: 4px;
}

/* Honors Section */
.honors {
    display: flex;
    gap: 5px;
    margin-left: 28px;
    margin-top: 10px;
}

.honors h4 {
    font-size: 11px;
    font-weight: 600;
    color: var(--background-color);
    padding: 5px 8px;
    text-transform: uppercase;
    background-color: var(--hover-color);
    border-radius: 0 8px 8px 0;
}

/* Details */
.details {
    margin-top: 12px;
    font-size: 13px;
    line-height: 1.4;
}

.details ul {
    list-style: none;
    counter-reset: mycounter;
    margin-left: 30px;
    text-align: justify;
}

.details ul li {
    counter-increment: mycounter;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.details ul li::before {
    content: counter(mycounter, decimal-leading-zero) " ";
    color: var(--hover-color);
    min-width: 30px;
}

/* Work Position */
.position {
    margin-left: 25px;
    margin-top: 8px;
    display: inline-flex;
    padding: 5px 10px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--background-color);
}

.position h4 {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .resume-page .resume-left {
        display: none;
    }

    .resume-page .main {
        flex-direction: column;
    }

    .resume-page .right-section {
        width: 100%;
    }

    /* Section Title */
    .right-section h3 {
        font-size: 16px;
    }

    /* Headers */
    .edu-header,
    .ex-header,
    .org-header,
    .eligibility-header {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .edu-header > span,
    .org-header > span {
        flex-basis: 24%;
        font-size: 11px;
        font-weight: 400;
        color: var(--content-color);
        margin-left: 25px;
        margin-bottom: 7px;
        text-align: center;
    }

    .ex-header > span {
        flex-basis: 51%;
        font-size: 11px;
        font-weight: 400;
        color: var(--content-color);
        margin-left: 25px;
        margin-bottom: 7px;
        text-align: center;
    }

    .eligibility-header > span {
        flex-basis: 10%;
        font-size: 11px;
        font-weight: 400;
        color: var(--content-color);
        margin-left: 25px;
        margin-bottom: 7px;
        text-align: center;
    }

    /* Headings */
    .edu-title h4,
    .ex-title h4,
    .org-title h4 {
        font-size: 12.7px;
    }

    .honors h4 {
        font-size: 9px;
        font-weight: 600;
        color: var(--background-color);
        padding: 5px 8px;
        text-transform: uppercase;
        background-color: var(--hover-color);
        border-radius: 0 8px 8px 0;
    }

    .position h4 {
        font-size: 8px;
    }

    .edu-title h4 .spannie {
        font-size: 11px;
        color: #ffffff;
    }

    /* Paragraphs & Lists */
    .education p,
    .experience p {
        font-size: 11px;
        color: #909090;
        ;
    }

    .details ul li,
    .eligibility p,
    .organization p {
        font-size: 11.5px;
    }
}