* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Educational Attainment */
.right-section h3 {
    font-size: 19px;
    margin: 30px 0 15px 0;
    letter-spacing: 1.2px;
    text-indent: 10px;
}

.education {
    margin-bottom: 25px;
    padding-left: 10px;
}

.education p {
    font-size: 15px;
    font-weight: lighter;
    text-indent: 23px;
    color: #909090;
    letter-spacing: 1px;
}

.edu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edu-title {
    display: flex;
    gap: 10px;
}

.edu-title h4 {
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 1.2px;
}

.edu-header span {
    font-size: 15px;
    font-weight: 200;
    color: #999;
}

.honors {
    display: flex;
    gap: 5px;
    margin-left: 23px;
    margin-top: 8px;
}

.honors h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
}

.details {
    margin-top: 8px;
    font-size: 14px;
    text-indent: 5px;
    line-height: 1.4;
}

.details ul {
    list-style: disc;
    margin-left: 50px;
    padding-right: 20px;
    text-align: justify;
}

.details ul li {
    margin-bottom: 3px;
    font-weight: 200;
}

/* Work Experience */
.experience {
    margin-bottom: 25px;
    padding-left: 10px;
}

.experience p {
    font-size: 15px;
    font-weight: lighter;
    text-indent: 23px;
    color: #909090;
    letter-spacing: 1px;
}

.ex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ex-title {
    display: flex;
    gap: 10px;
}

.ex-title h4 {
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 1.2px;
}

.ex-header span {
    font-size: 15px;
    font-weight: lighter;
    color: #999;
}

.position {
    margin-left: 29px;
    margin-top: 8px;
    display: flex;
}

.position h4 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Organization */
.organization {
    margin-bottom: 25px;
    padding-left: 10px;
}

.organization p {
    font-size: 15px;
    font-weight: lighter;
    text-indent: 23px;
    color: #909090;
    letter-spacing: 1px;
}

.org-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.org-title {
    display: flex;
    gap: 10px;
}

.org-title h4 {
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 1.2px;
}

.org-header span {
    font-size: 15px;
    font-weight: lighter;
    color: #999;
}

.spanie {
    font-weight: 300;
}

/* Eligibility */
.eligibility {
    margin-bottom: 25px;
    padding-left: 10px;
}

.eligibility p {
    font-size: 15px;
    font-weight: lighter;
    text-indent: 23px;
    color: #909090;
    letter-spacing: 1px;
}

@media (max-width: 768px) {

    .resume-page .resume-left {
        display: none;
    }

    .resume-page .main {
        flex-direction: column;
    }

    .resume-page .right-section {
        width: 100%;
    }

    /* Section Title */
    .right-section h3 {
        font-size: 16px;
    }

    /* Headers */
    .edu-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .edu-header>span,
    .ex-header>span,
    .org-header>span {
        font-size: 12px;
        font-weight: 400;
        color: #999;
        opacity: 0.7;
        margin-left: 25px;
        margin-bottom: 7px;
    }

    /* Headings */
    .edu-title h4,
    .ex-title h4,
    .org-title h4,
    .honors h4 {
        font-size: 12px;
    }

    .position h4 {
        font-size: 11.5px;
    }

    .edu-title h4 .spannie {
        font-size: 11px;
        color: #ffffff;
    }

    /* Paragraphs & Lists */
    .education p {
        font-size: 11px;
        color: white;
    }

    .details ul li,
    .experience p,
    .eligibility p,
    .organization p {
        font-size: 11.5px;
    }
}