* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.certification {
    margin-bottom: 10px;
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 8px;
}

.certification p {
    font-size: 13px;
    font-weight: lighter;
    margin-left: 26px;
    color: #909090;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.cert-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cert-title {
    display: flex;
    gap: 10px;
}

.cert-title i {
    font-size: 11px;
    margin-top: 6px;
}

.cert-title h4 {
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 1.2px;
}

.cert-header span {
    font-size: 13px;
    font-weight: bolder;
    color: var(--background-color);
    padding: 3px 8px;
    background-color: var(--hover-color);
    border-radius: 4px;
}

/* Technical Skills*/
.tech-skills {
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.15);
    background: var(--background-color);
}

.tech-skills_section h3 {
    font-size: 14px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    text-indent: 5px;
    padding: 6px 10px;
    color: var(--background-color);
    background-color: var(--hover-color);
    border-radius: 6px;
    margin: 10px 0 20px 0;
}

.tech-skills_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-skills_section hr {
    flex: 1;
    border: none;
    height: 2.5px;
    background-color: var(--hover-color);
    margin: 0 0 10px 10px;
    border-radius: 2px;
}


/* Frontend Skills */
.frontend {
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #ffffff;
}

.frontend h4 {
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
    text-shadow: #2b2b2b;
    text-indent: 5px;
    color: var(--hover-color);
    background-color: transparent;
}

.f-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 80px;
}

.skill img {
    height: 40px;
    width: 40px;
    object-fit: contain;

}

.skill input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background: linear-gradient(to right,
            var(--hover-color) 0%,
            var(--hover-color) 35%,
            #ffffff 35%,
            #ffffff 100%);
    outline: none;
    opacity: 1;
    pointer-events: none;
    cursor: default;
    transition: background 0.3s ease-in-out;
    margin: 0;
}

.skill input[type="range"]:disabled {
    background: #ffffff;
    /* opacity: 0.8; */
}

/* WebKit (Chrome, Safari) */
.skill input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
}

/* Firefox */
.skill input[type="range"]::-moz-range-thumb {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
    border: none !important;
}

/* IE / Edge (old versions) */
.skill input[type="range"]::-ms-thumb {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
    border: none !important;
}

.skill span {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0;
}

/* Backend & UI/UX Skills */
.backend-uiux {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.backend,
.uiux {
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #ffffff;
    margin-bottom: 15px;
    width: 100%;
}

.backend h4,
.uiux h4 {
    font-size: 14px;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
    text-shadow: #2b2b2b;
    text-indent: 5px;
    color: var(--hover-color);
    background-color: transparent;
    margin-bottom: 8px;
}

.b-skills,
.u-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 5px 60px;
}

/* Tools */
.tools {
    padding: 10px 10px 20px 10px;
    border-radius: 15px;
    border: 3px solid #ffffff;
}

.tools h4 {
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
    text-shadow: #2b2b2b;
    text-indent: 5px;
    color: var(--hover-color);
        background-color: transparent;
}

.f-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.t-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Other Skills */
.other-skills {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.other-skills_section h4{
    font-size: 13px;
    margin: 0 0 15px 0;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    padding: 7px;
    background-color: var(--hover-color);
    color: var(--background-color);
    border-radius: 6px;
}

.other-skills_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-skills_section hr {
    flex: 1;
    border: none;
    height: 2.5px;
    background-color: var(--hover-color);
    margin: 0 0 10px 10px;
    border-radius: 2px;
}

.my-skills {
    padding: 20px;
    border-radius: 12px;
    border: 3px solid transparent;
    background: var(--content-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    transition: border 0.3s ease;
}

.my-skills:hover {
    border: 3px solid #ffffff;
}

.o-skills {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

.p-skills li {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 3px 10px;
    list-style: none;

    counter-increment: mycounter;
    display: flex;
    align-items: flex-start;
    gap: 3px;
}

.p-skills li::before {
    content: counter(mycounter, decimal-leading-zero) " ";
    color: var(--hover-color);
    min-width: 30px;
}

.cont-skill {
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cont-skill input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background: linear-gradient(to right,
            var(--hover-color) 0%,
            var(--hover-color) 35%,
            #ffffff 35%,
            #ffffff 100%);
    outline: none;
    opacity: 1;
    pointer-events: none;
    cursor: default;
    transition: background 0.3s ease-in-out;
    margin: 0;
}

.cont-skill input[type="range"]:disabled {
    background: #ffffff;
    /* opacity: 0.8; */
}

/* WebKit (Chrome, Safari) */
.cont-skill input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
}

/* Firefox */
.cont-skill input[type="range"]::-moz-range-thumb {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
    border: none !important;
}

.cont-skill input[type="range"]::-ms-thumb {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
    border: none !important;
}

.cont-skill span {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--hover-color);
    margin: 0 auto;
    display: block;
    text-align: center;
}



@media (max-width: 768px) {

    .skills-page .skills-left {
        display: none;
    }

    .skills-page .main {
        flex-direction: column;
    }

    .skills-page .right-section {
        width: 100%;
        min-height: 100vh;
    }

    .cert-title h4 {
        font-size: 12px;
    }

    .cert-header > span {
        color: var(--background-color);
        font-size: 11px;
        font-weight: 400;
        margin-left: 25px;
        margin-bottom: 7px;
        padding: 3px 8px;
        background-color: var(--hover-color);
        border-radius: 4px;
    }

    .certification p {
        font-size: 11px;
        margin-left: 26px;
    }

    .tech-skills {
        padding: 15px;
    }

    .tech-skills h4 {
        font-size: 12.5px;
        text-align: left;
        margin-bottom: 20px;
    }

    .tech-skills_section h3,
    .other-skills_section h4 {
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
    
    .tech-skills_section hr,
    .other-skills_section hr {
        display: none;
    }

    .skill img {
        height: 34px;
        width: 34px;
        object-fit: contain;
    }

    .backend-uiux {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .t-skills {
        flex-wrap: nowrap;
    }

    .other-skills {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .other-text {
        display: block;
        width: 100%;
        font-size: 12px;
        text-align: center;
        letter-spacing: 2px;
    }

    .p-skills li {
        font-size: 14px;
    }
}